<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
         
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/usuario.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="inicio">
    <ion-card-header>
      <img src="/assets/compras.jpg" class="ion-text-center">
      <ion-card-title class="ion-justify-content-center">Duoc-Market</ion-card-title>
      <ion-card-subtitle class="ion-justify-content-center">Gran plataforma de compras</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-justify-content-center" id="texto">
      Una aplicacion exclusiva para estudiantes que te permitira poder comprar de forma segura y rapida
    </ion-card-content>
  </ion-card>
</ion-content>



